
.relection {
	padding: 10px;
}
ul {
    background: rgba(0,0,0,0.5);
    padding: 10px;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

header {
    background-size: cover;
    background: url("Images/flowerpink2.jpg");
    color: white;  
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;  
}
h2 {
    font-family: 'Courgette', cursive;
}
h3 {
	font-family: 'Francois One', sans-serif;
}
.Future-Title {
	text-align: center;
}
.Future-SubTitles {
	color: rgb(108, 190, 237);
}
body {
    background-color: rgb(145, 183, 199);
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
p {
	padding-left: 10px;
}
a {
    color: white;
    font-family: 'Itim', cursive;
}
.images {
    border: 5px solid white;
}
img {
    display: block;
    margin: auto;
}
.quote-image {
	border: 5px solid white;
}
.title {
 text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
     font-size: 56px;
     font-family: 'Merienda One', cursive;
     text-align: center;
  }
article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
table, tr {
	color: white;
	border: 1px solid rgb(119, 133, 144);
}
table {
	border-collapse: collapse;
	width: 100%;
}
tr {
	height: 50px;
}
td, th {
	padding: 15px;
	text-align: left;
}
th {
	background-color: rgb(189, 147, 145);
	color: white;
}
td, tr {
	color: black;
	background-color: rgb(255, 255, 255);
}
div {
	padding: 30px;
}
